* {
  font-size: 2vw;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

h2 {
  font-size: 1.2em;
  margin: 1em 0 2em 0;
}

.buttons {

  display: flex;
  gap: 1em;
  margin: 0 auto;
  padding-top: 1em;
  align-items: center;
  cursor: pointer;

  button {
    flex: 1;
    padding: 0.5em 1em;
    color: var(--fg);
    background: transparent;
    font-weight: bold;
    border: 1px solid var(--fg);
  }

  .state {
    width: 20em;
    text-align: center;
  }

}

.answers {

  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;

  .answer {

    display: flex;
    gap: 3rem;
    font-size: 0.8em;

    .percentage {
      width: 15%;
      text-align: right;
      font-weight: lighter;
      font-size: 2em;
      &.hidden {
        opacity: 0;
      }
    }
    .text {
      width: 65%;
    }
    .id {
      width: 20%;
      font-size: 1.3em;
      font-weight: bold;
      &.hidden {
        opacity: 0;
      }
    }

    .ab {
      text-decoration: underline;
    }

  }
}

.status {
  font-size: 1.0em;
  margin-top: 3em;
}

.voting {
  img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
  }
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;

  table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid var(--fg);
    td,th {
      border: 1px solid var(--fg);
      padding: 0.5em 2em;
    }
  }
}