<article class="page" *ngIf="data$ | async as data; else loading">
  <!-- <pre>{{data | json}}</pre> -->
  <h2>#{{data.questionId}} {{ data.question?.question }}</h2>
  <ul class="answers">
    <li class="answer">
      <div>
        <span class="ab">Answer A:</span> {{data.question?.answerA}}
      </div>
      </li>
    <li class="answer">
      <div>
        <span class="ab">Answer B:</span> {{data.question?.answerB}}
      </div>
    </li>
  </ul>
  <div class="buttons">
    <button [disabled]="data.state !== 'voting'" [ngClass]="{'active': data.activeAnswer === 'A'}" (click)="setActive(data.questionId, 'A')">A is human</button>
    <button [disabled]="data.state !== 'voting'" [ngClass]="{'active': data.activeAnswer === 'B'}" (click)="setActive(data.questionId, 'B')">B is human</button>
  </div>
  <!-- <div *ngIf="data.state === 'voting'" class="status">(Voting active)</div> -->
  <div *ngIf="data.state !== 'voting'" class="status">(Voting ended, please watch screen)</div>
</article>
<ng-template #loading>
  <p>Loading...</p>
</ng-template>
